/* Import Be Vietnam Pro từ Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
    /* Sử dụng Be Vietnam Pro làm font chính */
    font-family: 'Be Vietnam Pro', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    align-self: center; 
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh; 
    box-sizing: border-box;
}